body, html {
  font-family: "Funnel Sans", sans-serif !important;
}

code, pre, .monospace {
  font-family: "Geist Mono", monospace !important;
}

.markdown-body {
  font-family: "Funnel Sans", sans-serif !important;
}

.markdown-body code, .markdown-body pre, .markdown-body .monospace {
  font-family: "Geist Mono", monospace !important;
}
