@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
    font-family: "Funnel Sans" !important;
}

:root, 
#navigator-toolbox, 
#TabsToolbar, 
#nav-bar, 
#urlbar-container, 
#urlbar-input-container, 
#urlbar, 
#urlbar-input, 
#PersonalToolbar, 
#toolbar-menubar, 
#titlebar, 
#main-window, 
.findbar-textbox,
.bookmark-item,
tree,
.tab-text,
.tab-label {
    font-family: "Funnel Sans", sans-serif !important;
}

#statuspanel,
#statuspanel-box {
    display: none !important;
}