@-moz-document url-prefix(about:) {
  :root,
  body {
    font-family: "Public Sans", sans-serif !important;
  }

  input,
  textarea,
  select,
  button,
  label,
  div,
  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  td,
  th,
  li,
  a {
    font-family: "Public Sans", sans-serif !important;
  }
}
