/* Zen font faces */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
    font-family: "IBM Plex Sans" !important;
}

/* Global font faces */
body, html {
    font-family: "IBM Plex Sans",
        sans-serif !important;
}

code, pre,
.monospace {
    font-family: "BlexMono Nerd Font",
        monospace !important;
}

.markdown-body {
    font-family: "IBM Plex Sanss", sans-serif !important;
}

.markdown-body code,
.markdown-body pre,
.markdown-body .monospace {
    font-family: "BlexMono Nerd Font", monospace !important;
}
