body, html {
    font-family: "Atkinson Hyperlegible Next", sans-serif !important;
}

code, pre, .monospace {
    font-family: "Lilex Nerd Font Mono", monospace !important;
}

.markdown-body {
    font-family: "Atkinson Hyperlegible Next", sans-serif !important;
}
