body, html {
    font-family: "Funnel Sans",
        sans-serif !important;
}

code, pre,
.monospace {
    font-family: "Lilex Nerd Font Mono",
        monospace !important;
}

.markdown-body {
    font-family: "Funnel Sans",
        sans-serif !important;
}
