.theme-dark {
  --color-base-00: #151515;
  --color-base-05: #1d1d1d;
  --color-base-10: #252525;
  --color-base-20: #4a4a4a;
  --color-base-25: #6a5e5e;
  --color-base-30: #737a6f;
  --color-base-35: #807c82;
  --color-base-40: #a59e8a;
  --color-base-50: #c3c9c2;
  --color-base-60: #d3c9ae;
  --color-base-70: #e7e7e7;
  --color-base-100: #e7e7e7;

  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-05);
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-10);

  --text-comment: var(--color-base-20);
  --text-keyword: var(--color-base-35);
  --text-string: var(--color-base-30);
  --text-tag: var(--color-base-40);
  --text-attribute: var(--color-base-60);
  --text-function: var(--color-base-50);
  --text-constant: var(--color-base-70);
  --text-error: #78535d;
  --text-language-var: #e0c6cd;
  --text-accent-badge: #78535d;
}
