body.no-note-padding :is(.cm-content, .markdown-preview-sizer) {
  padding-bottom: 0 !important;
}

.setting-item {
  border-top: none;
}

.frontmatter-container.is-collapsed {
  padding: var(--size-4-2) 0;
}
.frontmatter-container .frontmatter-container-header {
  padding-bottom: 0;
  border-bottom: none;
}

:root .theme-dark {
  --color-base-00: #0f1017;
  --color-base-10: #303340;
  --color-base-20: #303340;
  --color-base-25: #303340;
  --color-base-30: #303340;
  --color-base-35: #303340;
  --color-base-40: #303340;
  --color-base-50: #767c9d;
  --color-base-60: #a6accd;
  --color-base-70: #a6accd;
  --color-base-100: #e4f0fb;

  --text-normal: #a6accd;
  --text-muted: #767c9d;
  --text-faint: #767c9d;
  --text-on-accent: #0f1017;
  --interactive-accent: #add7ff;
  --text-accent: #add7ff;
  --text-accent-hover: #89ddff;

  --background-modifier-form-field: var(--color-base-10);
  --background-modifier-error: #d0679d;
  --color-red-rgb: 208, 103, 157;
  --color-red: #d0679d;
  --color-yellow-rgb: 255, 250, 194;
  --color-yellow: #fffac2;
  --color-green-rgb: 93, 228, 199;
  --color-green: #5de4c7;
  --color-cyan-rgb: 137, 221, 255;
  --color-cyan: #89ddff;
  --color-blue-rgb: 173, 215, 255;
  --color-blue: #add7ff;
  --color-magenta-rgb: 240, 135, 189;
  --color-magenta: #f087bd;
}

.theme-light {
  --color-base-00: #e4f0fb;
  --color-base-10: #a6accd;
  --color-base-20: #a6accd;
  --color-base-25: #a6accd;
  --color-base-30: #a6accd;
  --color-base-35: #a6accd;
  --color-base-40: #a6accd;
  --color-base-50: #767c9d;
  --color-base-60: #303340;
  --color-base-70: #303340;
  --color-base-100: #0f1017;

  --text-normal: #0f1017;
  --text-muted: #303340;
  --text-faint: #767c9d;
  --text-on-accent: #e4f0fb;
  --interactive-accent: #005a9e;
  --text-accent: #005a9e;
  --text-accent-hover: #004c85;

  --accent-l: 45%;
  --background-modifier-error: #b02e6a;
  --color-red-rgb: 176, 46, 106;
  --color-red: #b02e6a;
  --color-yellow-rgb: 125, 119, 0;
  --color-yellow: #7d7700;
  --color-green-rgb: 0, 109, 91;
  --color-green: #006d5b;
  --color-cyan-rgb: 0, 123, 170;
  --color-cyan: #007baa;
  --color-blue-rgb: 0, 90, 158;
  --color-blue: #005a9e;
  --color-magenta-rgb: 193, 59, 132;
  --color-magenta: #c13b84;
}

:root:root body.high-contrast-text {
  --color-base-100: rgb(var(--mono-rgb-100));
}

:root body.fusion-black {
  --accent-s: 60%;
  --accent-l: 60%;
  --color-base-00: rgb(var(--mono-rgb-0));
}

button:not(.clickable-icon, .mod-cta, .mod-warning),
.dropdown {
  border: 1px solid var(--background-modifier-border);
}

:root:root body {
  --interactive-normal: var(--background-primary);
}

body {
  --background-primary-alt: var(--background-primary);
  --background-secondary: var(--background-primary);
  --background-modifier-active-hover: var(--background-primary);

  --titlebar-background: var(--background-primary);
  --titlebar-background-focused: var(--background-primary);

  --divider-color: var(--background-primary);
  --tab-divider-color: var(--background-primary);

  --icon-color: var(--text-faint);

  --accent-h: 212;

  --hr-color: var(--text-accent);
}

.checkbox-container {
  background: var(--color-base-10);
}

.titlebar-button:not(:hover) {
  color: var(--text-faint);
}

.workspace-tab-header:not(.is-active, :hover)
  .workspace-tab-header-inner-title {
  color: var(--tab-text-color);
}

.workspace-tab-header-inner-title {
  text-align: center;
}

:root hr {
  border-width: 1px;
}

:root:root:root .view-header {
  background: transparent;
}
.view-header {
  position: absolute;
  width: calc(100% - var(--size-4-6));
}

:root .view-header .clickable-icon {
  background-color: var(--background-primary);
  opacity: 0.8;
}

body:not(.show-view-header-title) .view-header-title-container > *,
.view-header-title-container::after {
  display: none;
}

@media (hover: hover) {
  :root:root
    .workspace-tab-header:not(:hover)
    .workspace-tab-header-inner-close-button,
  .workspace-tab-header-container:not(:hover)
    + *
    .view-header:not(:hover)
    .clickable-icon {
    opacity: 0;
  }

  body.show-view-header-title
    .view-header-title-container:not(:hover)
    > *:not(:focus) {
    opacity: 0 !important;
  }
}

@media (hover: none) {
  .workspace-tab-header:not(.is-active)
    .workspace-tab-header-inner-close-button {
    opacity: 0;
  }

  .view-header {
    pointer-events: none;
  }
  .view-header .clickable-icon {
    pointer-events: auto;
  }
}

body.show-view-header-title .view-header-title-container > * {
  background: var(--background-primary);
  opacity: 0.8;
  box-shadow: 0 2px 4px #0004;
  transition: opacity 0.15s ease-in-out;
}
.view-header-title {
  padding: var(--size-2-1) var(--size-4-1);
}

.workspace-leaf-resize-handle:hover {
  transition:
    background-color 50ms ease-out,
    border-color 50ms ease-out,
    opacity 50ms ease-out;
}
